spring:
  session:
    store-type: ${SPRING_SESSION_STORE:NONE}

  servlet:
    multipart:
      max-file-size: ${SPRING_MAX_FILE_SIZE:50MB}
      max-request-size: ${SPRING_MAX_REQUEST_SIZE:51MB}

keycloak:
  realm: ${KEYCLOAK_REALM}
  auth-server-url: ${KEYCLOAK_BASE}/auth
  ssl-required: external
  resource: ${KEYCLOAK_CLIENT_ID}
  credentials:
    secret: ${KEYCLOAK_CLIENT_SECRET}
  use-resource-role-mappings: true
  principal-attribute: preferred_username

files:
  listing-base-dir: ${PFS_LISTING_BASE:C:\Users\joel\Downloads\}
  download-base-dir: ${PFS_DOWNLOAD_BASE:http://localhost:8888/test}
  web-base-url: ${PFS_WEB_BASE:http://localhost:8080}
