spring:
  session:
    store-type: hash_map
  http.multipart:
    max-file-size: 50MB
    max-request-size: 51MB
security:
  user:
    password: secret
    name: user

files:
  version: 0.1.500
  listing.baseDirectory: "/home/dev/Downloads"
  download.baseUrl: http://localhost:8888/test
  application.base-url: http://localhost:8080