<!doctype html>
<html lang="en">
<head data-th-fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.peg.nu/files/lib/css/bootstrap/4.0.0/bootstrap.min.css"/>

    <title>PegNu Files</title>
</head>
<body>
<nav data-th-fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">PegNu Files</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="/">Home</a>-->
                <!--</li>-->
            </ul>

            <div class="dropdown" data-th-if="${loggedIn != null &amp;&amp; !loggedIn}">
                <button class="btn btn-outline-light dropdown-toggle" type="button" id="loginDropdown"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Login
                </button>
                <div class="dropdown-menu" style="left:unset;right:0;">
                    <form class="px-4 py-3" style="min-width: 20rem;" action="/do-login"
                          method="post">
                        <div class="form-group">
                            <label for="login-username">Username</label>
                            <input type="text" class="form-control" id="login-username" placeholder="User"
                                   required="" name="username"/>
                        </div>
                        <div class="form-group">
                            <label for="login-password">Password</label>
                            <input type="password" class="form-control" id="login-password" placeholder="Password"
                                   required="" name="password"/>
                        </div>
                        <input type="hidden" data-th-attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
                        <input type="hidden" name="path" data-th-if="${path}" data-th-value="${path}"/>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                </div>
            </div>
            <span class="navbar-text" data-th-text="'Hallo, ' + ${username}" data-th-if="${loggedIn}">Hallo, User</span>
            <form data-th-action="@{/do-logout}" method="post">
                <input type="hidden" data-th-attr="name=${_csrf.parameterName},value=${_csrf.token}"/>

                <button type="submit" class="btn btn-outline-light ml-3" data-th-href="@{/logout}"
                        data-th-if="${loggedIn}">Logout
                </button>
            </form>
        </div>
    </div>
</nav>

<div class="mt-3" data-th-fragment="foot">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.peg.nu/files/lib/js/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="https://cdn.peg.nu/files/lib/js/popper.js/1.12.9/popper-umd.min.js"></script>
    <script src="https://cdn.peg.nu/files/lib/js/bootstrap/4.0.0/bootstrap.min.js"></script>
    <script defer="" src="https://cdn.peg.nu/files/lib/js/fontawesome/5.0.6/fontawesome-all.js"></script>
    <script src="https://cdn.peg.nu/files/lib/js/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script>
        new Clipboard('.btn-clipboard');
    </script>
</div>
</body>
</html>