<!DOCTYPE html>
<html lang="en">
<head data-th-replace="base :: head"></head>
<body>
<th-block data-th-replace="base :: nav"></th-block>

<div class="container">
    <div class="list-group">
        <a class="list-group-item list-group-item-action"
           data-th-each="file: ${files}"
           data-th-href="@{/files(path=${file.relativePath})}">
            <i class="fas fa-folder" data-th-class="'fas ' + (${file.directory} ? 'fa-folder' : '')"></i>
            <span data-th-text="${file.path.fileName}"></span>
        </a>
    </div>
</div>

<th-block data-th-replace="base :: foot"></th-block>
</body>
</html>