<!DOCTYPE html>
<html lang="en">
<head data-th-replace="base :: head"></head>
<body>
<th-block data-th-replace="base :: nav"></th-block>

<div class="container">
    <div class="d-flex">
        <nav aria-label="breadcrumb" style="flex-grow: 1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"
                    data-th-class="${'breadcrumb-item ' + (breadcrumb.active ? 'active' : '')}"
                    data-th-each="breadcrumb: ${breadcrumbs}">
                    <a data-th-href="@{/files(path=${breadcrumb.relativePath})}" data-th-if="${!breadcrumb.active}">
                        <i data-th-class="'fas ' + ${breadcrumb.icon}" data-th-if="${breadcrumb.icon != null}"></i>
                        <span data-th-text="${breadcrumb.name}"></span>
                    </a>
                    <div class="d-inline-block" data-th-if="${breadcrumb.active}">
                        <i data-th-class="'fas ' + ${breadcrumb.icon}" data-th-if="${breadcrumb.icon != null}"></i>
                        <span data-th-text="${breadcrumb.name}"></span>
                    </div>
                </li>
            </ol>
        </nav>

        <div data-th-if="${loggedIn}" class="ml-3">
            <div class="btn-group">
                <button type="button" class="btn btn-lg btn-outline-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-upload"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <form class="px-4 py-3" style="min-width: 20rem" enctype="multipart/form-data"
                          data-th-action="@{/uploadFile}" method="post">
                        <input type="hidden" name="path" data-th-value="${path}"/>
                        <div class="form-group input-group">
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" id="upload-file"/>
                                <label class="custom-file-label" for="upload-file">Choose file</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-lg btn-outline-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-folder-open"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <form class="px-4 py-3" style="min-width: 20rem" data-th-action="@{/createFolder}" method="get">
                        <input type="hidden" data-th-value="${path}" name="path"/>
                        <div class="form-group">
                            <label for="create-folder">Create folder</label>
                            <input type="text" name="folderName" class="form-control"
                                   id="create-folder" placeholder="Folder"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="list-group">
        <div class="list-group-item p-0 d-flex"
             data-th-each="file: ${files}">
            <a class="btn btn-light" data-th-href="@{/files(path=${file.relativePath})}"
               style="flex-grow : 1; text-align: left;">
                <i class="fas fa-folder" data-th-class="'fas ' + (${file.directory} ? 'fa-folder' : 'fa-file')"></i>
                <span class="ml-3" data-th-text="${file.fileName}">Filename.pdf</span>
            </a>
            <a class="btn btn-sm btn-danger d-flex align-items-center"
               data-th-href="@{/deleteFile(path=${file.relativePath})}"
               data-th-if="${loggedIn &amp;&amp; (file.fileName != '..')}">
                <i class="fas fa-trash"></i>
            </a>
            <button class="btn btn-sm btn-clipboard btn-secondary m-0"
                    data-th-attr="data-clipboard-text=@{${baseUrl + '/files'}(path=${file.relativePath})}">
                <i class="fas fa-link"></i>
            </button>
        </div>
    </div>
</div>

<style>
    .list-group > .list-group-item > .btn {
        border-radius: 0;
    }

    .list-group > :first-child.list-group-item > :last-child.btn {
        border-top-right-radius: 0.25em;
    }

    .list-group > :last-child.list-group-item > :last-child.btn {
        border-bottom-right-radius: 0.25em;
    }
</style>

<th-block data-th-replace="base :: foot"></th-block>
</body>
</html>