<!DOCTYPE html>
<html lang="en">
<head data-th-replace="base :: head"></head>
<body>
<th-block data-th-replace="base :: nav"></th-block>

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" data-th-each="breadcrumb: ${breadcrumbs}">
                <a data-th-href="@{/files(path=${breadcrumb.relativePath})}">
                    <i data-th-class="'fas ' + ${breadcrumb.icon}" data-th-if="${breadcrumb.icon != null}"></i>
                    <span data-th-text="${breadcrumb.name}"></span>
                </a>
            </li>
        </ol>
    </nav>

    <div class="list-group">
        <div class="list-group-item p-0 d-flex"
             data-th-each="file: ${files}">
            <a class="btn btn-light" data-th-href="@{/files(path=${file.relativePath})}"
               style="flex-grow : 1; text-align: left;">
                <i class="fas fa-folder" data-th-class="'fas ' + (${file.directory} ? 'fa-folder' : 'fa-file')"></i>
                <span class="ml-3" data-th-text="${file.fileName}">Filename.pdf</span>
            </a>
            <button class="btn btn-sm btn-clipboard btn-secondary m-0"
                    data-th-attr="data-clipboard-text=@{${baseUrl + '/files'}(path=${file.relativePath})}">
                <i class="fas fa-link"></i>
            </button>
        </div>
    </div>
</div>

<style>
    .list-group > .list-group-item > .btn {
        border-radius: 0;
    }

    .list-group > :first-child.list-group-item > :last-child.btn {
        border-top-right-radius: 0.25em;
    }

    .list-group > :last-child.list-group-item > :last-child.btn {
        border-bottom-right-radius: 0.25em;
    }
</style>

<th-block data-th-replace="base :: foot"></th-block>
</body>
</html>