name: Build Image

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
#     - name: Docker Setup Buildx
#       uses: docker/setup-buildx-action@v1.1.1
#       with:
#         buildkitd-flags: --debug

#     - name: Cache Docker layers
#       uses: actions/cache@v2
#       with:
#         path: /tmp/.buildx-cache
#         key: ${{ runner.os }}-buildx-${{ github.sha }}
#         restore-keys: |
#           ${{ runner.os }}-buildx-

    - name: Docker Login
      uses: docker/login-action@v1.8.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GH_ACCESS_TOKEN }}
    
    - name: Build image
      run: gradle bootBuildImage --imageName ghcr.io/${{ github.repository }} --publishImage true
        
#     - name: Build Docker image
#       uses: docker/build-push-action@v2.2.2
#       with:
#         context: .
#         file: ./Dockerfile
#         tags: |
#           ghcr.io/jmesserli/pegnu-files:${{ github.run_number }}
#           ghcr.io/jmesserli/pegnu-files:latest
#         push: ${{ github.event_name != 'pull_request' }}
#         cache-from: type=local,src=/tmp/.buildx-cache
#         cache-to: type=local,dest=/tmp/.buildx-cache
  
#     - name: Push Docker image
#       if: ${{ github.event_name != 'pull_request' }}
#       run: docker push ghcr.io/jmesserli/pegnu-files:${{ github.run_number }} && docker push ghcr.io/jmesserli/pegnu-files:latest
