name: Build Image

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v1.1.1

    - name: Docker Login
      uses: docker/login-action@v1.8.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GH_ACCESS_TOKEN }}
        
    - name: Build and push Docker images
      uses: docker/build-push-action@v2.2.2
      with:
        context: .
        file: ./Dockerfile
        tags: |
          ghcr.io/jmesserli/pegnu-files:${{ github.run_id }}
          ghcr.io/jmesserli/pegnu-files:latest
        push: ${{ github.event_name != 'pull_request' }}
